<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZebraTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZebraTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ZebraTrack.Properties.Settings>
            <setting name="CameraInterface" serializeAs="String">
                <value>img0</value>
            </setting>
            <setting name="FrameRate" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value>D:\\Behavior\\</value>
            </setting>
            <setting name="PixelsPermm" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MirrorXVAln" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MirrorYVAln" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MirrorDOptPerV" serializeAs="String">
                <value>3</value>
            </setting>
        </ZebraTrack.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ZebraTrack.Properties.Settings>
            <setting name="LaserCalibPowermW" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="DAQ" serializeAs="String">
                <value>dev1</value>
            </setting>
            <setting name="LaserAO" serializeAs="String">
                <value>ao2</value>
            </setting>
            <setting name="ScannerX" serializeAs="String">
                <value>ao0</value>
            </setting>
            <setting name="ScannerY" serializeAs="String">
                <value>ao1</value>
            </setting>
        </ZebraTrack.Properties.Settings>
    </userSettings>
</configuration>